
<h1 class="text-center">Student Details</h1>
<div class="row">
  <div class="col-xs-6">
    <form novalidate="novalidate" class="form-horizontal">
      <div class="form-group">
        <label class="control-label" for="inputFirstName">Name</label>
        <input class="form-control" type="text" id="inputFirstName" ng-model="student.name"/>
      </div>
      <div class="form-group">
        <label for="inputAge">Age:</label>
        <input class="form-control" type="text" id="inputAge" ng-model="student.age"/>
      </div>
      <div class="form-group">
        <label for="studentGrade">Grade:</label>
        <select id="studentGrade" ng-model="student.grade" class="form-control">
          <option value="Freshman">Freshman</option>
          <option value="Sophomore">Sophomore</option>
          <option value="Junior">Junior</option>
          <option value="Senior">Senior</option>
        </select>
      </div>
      <div class="form-group">
        <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
        <button ng-click="updateStudent()" class="btn btn-primary">Update Student</button>
      </div>
    </form>
  </div>
</div>